<section class="user-content">
  <form class="form-horizontal">
    <div class="control-group">
      <div class="controls">
        <h3>{{i18n "user.card_badge.title"}}</h3>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        {{combo-box
          value=selectedUserBadgeId
          nameProperty="badge.name"
          content=selectableUserBadges
          onChange=(action (mut selectedUserBadgeId))
        }}
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        {{d-button
          class="btn-primary"
          disabled=saving
          label=savingStatus
          action=(action "save")
        }}

        {{#if saved}}{{i18n "saved"}}{{/if}}
      </div>
    </div>
  </form>
</section>